
@{
    ViewBag.Title = "About";
}

<h2>CV for Robin Sandberg</h2>

<article>
    <h4>Utbildning:</h4>

    <p>Energiprogrammet VVS , Teknikum i Växjö. 	aug 1998 – jun 2002 Gymnasieutbildning I VVS installationer.</p>

    <p>ASP.Net junior full stack developer pågående hos Lexicon. feb 2018 –</p>
    <p>(GitHub name *********)</p>

    <h4>Anställningar:</h4>

    <p>NVS Installation AB , Växjö 	aug 2002 – jun 2004 Lärlingsutbildning.</p>

    <h4>Språk:</h4>

    <p>Svenska, modersmål</p>
    <p>Engelska, mycket bra i tal och skrift</p>

    <p>Körkort Inget</p>
        
    <p>Referenser</p>
    <p>Referenser lämnas på förfrågan</p>
</article>
 