
@{
    ViewBag.Title = "GuessGame";
}

<h2>Guessing Game</h2>

<p>Guess a Number between 1 and 100</p>

@if (Session["Random"] != null)
{
    try
    {
        <form method="post">

            <input type="number" name="GuessNum" value="" placeholder="Input a number" />

            <input type="submit" value="Guess" />
        </form>
    }
    catch (Exception)
    {
        <p>No number was added</p>
    }
}
@if (Session["msg"] != null)
{
    <h3>@Session["msg"]</h3>
}

<h4>Guess History</h4>
@if (Session["Guesses"] != null)
{
    <ol>
        @foreach (var item in (List<int>)Session["Guesses"])
        {
            <li>@(item)</li>
        }
    </ol>

}



