@model List<MyContactPage.Models.GuessingGame>
@{
    ViewBag.Title = "GuessGame";
}

<h2>Guessing Game</h2>

<p>Guess a Number between 1 and 100</p>

<form method="post">

    <input type="number" name="GuessNum" value="" />

    <input type="submit" value="Guess" />

</form>



<ol>
    @foreach (MyContactPage.Models.GuessingGame item in Model)
    {
        <li id="@item.GuessCount">@item.GuessNum</li>
        @item.msg
        
    }
</ol>

@if (Session["Random"] != null)
{
    <h4> Random number </h4>
    <p>@Session["Random"]</p>
}