
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<article>
    <ul>
        <li><a href="https://github.com/RobinSandberg/golf">Golf</a></li>
        <li><a href="https://github.com/RobinSandberg/Arena-fighter">Arena Fighter</a></li>
        <li><a href="https://github.com/RobinSandberg/Vending-machine">Vending machine</a></li>
        <li><a href="https://github.com/RobinSandberg/my-sokoban">Sokoban</a></li>
    </ul>
</article>

